.campo-texto{



}
.text-field {

        -fx-padding: 10; /* Espaçamento interno */
        -fx-font-size: 14; /* Tamanho da fonte */
        -fx-text-fill: #333; /* Cor do texto */
}



.text-field:disabled {
    -fx-opacity: 0.5; /* Opacidade reduzida quando desabilitado */
}

.elegant-button {
    -fx-background-color: #4CAF50; /* Cor de fundo */
    -fx-text-fill: white; /* Cor do texto */
    -fx-font-size: 14px; /* Tamanho da fonte */
    -fx-padding: 10 20; /* Margem interna (topo/bottom, esquerda/direita) */
    -fx-border-radius: 10; /* Cantos arredondados */
    -fx-background-radius: 5; /* Cantos arredondados do fundo */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0, 0, 1); /* Sombra */
}

.elegant-button:hover {
    -fx-background-color: #45a049; /* Cor ao passar o mouse */
}
.root {
    -fx-background-color: white; /* Cor de fundo branca */
}

